<!-- NPR Custom Analytics
       custom script for St Louis Public Radio sites
       it includes Chartbeat and Google Analytics -->
       <script>
          (function () {
            var ga = document.createElement('script');
            ga.async = true;
            ga.src = '//stream.publicbroadcasting.net/analytics/aalp.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
          })();
        </script>
        
        <!-- Google Tag Manager-->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2139719-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
        
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());
          gtag('config', 'UA-2139719-1');
        </script>