<div id="stlpr-footer">
        <div class="container">
          <div class="row">
          <a href="http://www.umsl.edu" id="umsl" class="col-lg-2">
            <p>St. Louis Public Radio is a service of</p>
            <img src="//s3.amazonaws.com/stlpr-assets/stlpr-style/footer_logos/umsl.png" alt="University of Missouri-St. Louis" width="60" height="28" />
          </a>
          <div id="footernav" class="col-lg-10">
            <ul>
                 <li><a href="https://stlpublicradio.org/info/">About Us</a></li>
              <li><a href="https://stlpublicradio.org/info/careers" class="contact">Careers</a></li>
              <li><a href="https://stlpublicradio.org/contact/" class="contact">Contact Us</a></li>
              <li><a href="https://stlpublicradio.org/support/privacypolicy.php">Privacy Policy</a></li>
                 <li><a href="https://stlpublicradio.org/publicfile">Public File</a></li>
            </ul>
            <div class="clear"></div>
           <div id="legal">
             <p>&copy; 2019 News for St. Louis</p>
           </div>
          </div>
          </div>
        </div>
       </div>