<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">


<title><%= project.title %></title>

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="https://apps.stlpublicradio.org/stadium-district/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://apps.stlpublicradio.org/stadium-district/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://apps.stlpublicradio.org/stadium-district/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://apps.stlpublicradio.org/stadium-district/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="https://apps.stlpublicradio.org/stadium-district/assets/favicon/safari-pinned-tab.svg" color="#c62036">
    <link rel="shortcut icon" href="https://apps.stlpublicradio.org/stadium-district/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#c62036">
    <meta name="msapplication-config" content="https://apps.stlpublicradio.org/stadium-district/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#c62036">

<!-- Safari, you're the worst -->
<meta name='format-detection' content='telephone=no'>

<!-- GDPR compliance -->
<!-- <script src="https:apps.npr.org/gdpr/gdprCompliance.js" async defer></script> -->

<!-- BEGIN TWITTER SUMMARY CARD -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="A Crowded Field">
<meta name="twitter:site" content="@stlpublicradio">
<meta name="twitter:url" content="https://apps.stlpublicradio.org/stadium-district">
<meta name="twitter:image" content="https://apps.stlpublicradio.org/stadium-district/assets/images/mls-render.png">
<meta name="twitter:description" content="5 cities have 3 stadiums within about a mile of each other; St. Louis will soon be among them (again)">

<!-- Social sharing meta -->
<meta property="og:type" content="article">
<meta property="og:title" content="A Crowded Field">
<meta property="og:site_name" content="St. Louis Public Radio">
<meta property="og:url" content="https://apps.stlpublicradio.org/stadium-district">
<meta property="og:image" content="https://apps.stlpublicradio.org/stadium-district/assets/images/mls-render.png">
<meta property="og:description" content="5 cities have 3 stadiums within about a mile of each other; St. Louis will soon be among them (again)">
<!-- <meta property="fb:app_id" content="138837436154588" /> -->

<!-- Google structured data -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://apps.stlpublicradio.org/stadium-district"
    },
    "headline": "A Crowded Field",
    "image": {
      "@type": "ImageObject",
      "url": "https://apps.stlpublicradio.org/stadium-district/assets/images/mls-render.png"
    },
    "author": {
      "@type": "Person",
      "name": "Brent Jones"
    },
    "publisher": {
      "@type": "Organization",
      "name": "St. Louis Public Radio",
      
    },
    "description": "5 cities have 3 stadiums within about a mile of each other; St. Louis will soon be among them (again)",
    "datePublished": "<%= new Date().toISOString() %>"
  }
</script>

<!-- Chartbeat top -->
<script type="text/javascript">
  var _sf_startpt = (new Date()).getTime()
</script>