<!doctype html>
<html lang="en-US">

<head>
  <%= t.include("partials/_head.html", grunt.data.json) %>
  
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>

<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <main>
      <div class="videoWrapper">
      <div id="youtube"></div>
      </div>
    <div class="header">
        <div id="headlines">
            <h1 id="headline"><%= grunt.data.archieml.Stadiums_text.headline %></h1>
            <h2 id="subhed"><%= grunt.data.archieml.Stadiums_text.subhed %></h1>
              <p id="byline"><%= grunt.data.archieml.Stadiums_text.byline %></p>
              <p id="pubdate"><%= grunt.data.archieml.Stadiums_text.pubdate %></p>
            </div>
            <div id="intro">
              <% grunt.data.archieml.Stadiums_text.hed.forEach(p => {  %>
              <p><%= t.renderMarkdown(p.value) %></p>
              <% }) %>
            </div>  </div>
    <section id='scrolly'>
        <figure>
            <div id="map"></div>
          </figure>
    
      <article>
          <% 
          grunt.data.archieml.Stadiums_text.graphic_steps.forEach(section => { %>
        <div class='step' data-step='<%= section.step %>'>
          <p><%= section.text %></p>
        </div>
        <% }) %>
        
        
      </article>

    </section>

    <section id='outro'><p id="barchart" data-pym-src="http://apps.stlpublicradio.org/dailygraphics/graphics/2019-11-06-stadium-proximity/child.html">Loading...</p><script src="https://pym.nprapps.org/npr-pym-loader.v2.min.js" type="text/javascript"></script>
    </section>
  </main>

  <div id="main">
    <% 
      grunt.data.archieml.Stadiums_text.main.forEach(section => { %>

    <h2 class="section-hed"><%= section.hed %></h2>



    <% section.cities.forEach(city => { %>



    <div class="city">
        <%= t.include("partials/_" + city.slug + ".html") %>

      <p class="credit"><%= city.image_credit %></p>
      
      <div class="city-text"><h3><%= city.name %></h3>

      <p><%= grunt.data.archieml.Stadiums_text.closest_stadiums_text %></p>
      <ul class="stadiums">
        <% city.stadiums.forEach(stadium => { %>
        <li><%= stadium.value %></li>
        <% }) %>
      </ul>

      <p class="description">
        <%= city.text %>
      </p>
      <% if (city.close) { %>
      <h4><%= grunt.data.archieml.Stadiums_text.close_question %></h4>
      <p class="how_close">
        <%= city.close %>
      </p>
      <% } %>
    </div>
  </div>

    <% }) %>

    <% }) %>
  </div>

  <div class="credits">
      <% grunt.data.archieml.Stadiums_text.credits.forEach(section => { %>
        <p><%= section.title %> &mdash; <%= section.name %></p>
        <% }) %>
  </div>


  <script src="app.js" async></script>
  </main>
</body>

</html>