<!doctype html>
<html lang="en-US">

<head>
  <%= t.include("partials/_head.html", grunt.data.json) %>
  
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>

<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <main>
    <div class="header">
        <div id="headlines">
            <h1 id="headline"><%= grunt.data.archieml.Stadiums_text.headline %></h1>
            <h2 id="subhed"><%= grunt.data.archieml.Stadiums_text.subhed %></h1>
              <p id="byline"><%= grunt.data.archieml.Stadiums_text.byline %></p>
              <p id="pubdate"><%= grunt.data.archieml.Stadiums_text.pubdate %></p>
            </div>
            <div id="intro">
              <% grunt.data.archieml.Stadiums_text.hed.forEach(p => {  %>
              <p><%= t.renderMarkdown(p.value) %></p>
              <% }) %>
            </div>  </div>
    <section id='scrolly'>
        <figure>
            <div id="map"></div>
          </figure>
    
      <article>
        <div class='step' data-step='1'>
          <p>These are St. Louis' stadiums. From left, the new MLS stadium, Enterprise Center and Busch Stadium.</p>
        </div>
        <div class='step' data-step='2'>
          <p>If you draw the smallest circle possible to fit all three inside, then measure the diameter of that circle, you get X.XX miles. In this case, that's the distance between Busch Stadium and the new MLS stadium.</p>
        </div>
        <div class='step' data-step='3'>
          <p>The closest set of three stadiums we found were in Philadelphia, where three stadiums hosting four teams were less than a half-mile apart.</p>
        </div>
        <div class='step' data-step='4'>
          <p>STEP 4</p>
        </div>
        <div class='step' data-step='5'>
          <p>STEP 5</p>
        </div>
        <div class='step' data-step='6'>
          <p>STEP 6</p>
        </div>
        <div class='step' data-step='7'>
          <p>STEP 7</p>
        </div>
        <div class='step' data-step='8'>
          <p>STEP 8</p>
        </div>
        <div class='step' data-step='9'>
          <p>STEP 9</p>
        </div>
      </article>

    </section>

    <section id='outro'></section>
  </main>

  <div id="main">
    <% console.log(grunt.data.archieml.Stadiums_text)
      grunt.data.archieml.Stadiums_text.main.forEach(section => { %>

    <h2 class="section-hed"><%= section.hed %></h2>



    <% section.cities.forEach(city => { %>



    <div class="city">
        <%= t.include("partials/_" + city.slug + ".html") %>

      <p class="credit"><%= city.image_credit %></p>
      
      <div class="city-text"><h3><%= city.name %></h3>

      <p><%= grunt.data.archieml.Stadiums_text.closest_stadiums_text %></p>
      <ul class="stadiums">
        <% city.stadiums.forEach(stadium => { %>
        <li><%= stadium.value %></li>
        <% }) %>
      </ul>

      <p class="description">
        <%= city.text %>
      </p>
      <% if (city.close) { %>
      <h4><%= grunt.data.archieml.Stadiums_text.close_question %></h4>
      <p class="how_close">
        <%= city.close %>
      </p>
      <% } %>
    </div>
  </div>

    <% }) %>

    <% }) %>
  </div>

  <script src="app.js" async></script>
  </main>
</body>

</html>